<!DOCTYPE html>
<html lang="en">
    <head>
        {# Site Title #}
        <title>Clone: Playground</title>
        {# Charset #}
        <meta charset="utf-8" />
        {# Compatibility #}
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {# Viewport #}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {# Generic Google Fonts #}
        {# <link href="https://fonts.googleapis.com/css?family=Euphoria+Script|Open+Sans:400,400i,600,600i,800,800i&amp;subset=latin-ext" rel="stylesheet"> #}
        {# Material Icons #}
        {# <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> #}
        {# Your CSS #}
        <link async href="$ROOT/css/app.css" rel="stylesheet">
        {# Favicons #}
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#b91d47">
        <meta name="msapplication-TileColor" content="#b91d47">
        <meta name="theme-color" content="#b91d47">
    </head>
    {# Playground's Body #}
    <body data-clone data-c-menu-style="topbar(sticky)">
        <!-- This is the button that opens the menu on mobile devices. -->
        <button 
            type="button"
            data-c-button="solid(c5)"
            data-c-menu-mobile-trigger
            role="button"
            aria-label="This button opens the main navigation menu."
            aria-pressed="false">
            <span>Open</span><span>Close</span> Menu
        </button>
        <section data-c-alignment="base(centre)" data-c-background="white(100)" data-c-padding="top(half) bottom(half)">
            <div data-c-container="full">
                <div data-c-grid="gutter middle">
                    <div data-c-alignment="tp(left)" data-c-grid-item="tp(1of2)">
                        <a class="goc-link" href="https://www.canada.ca/en.html" target="_blank" title="Visit Canada.ca." rel="noopener noreferrer">
                            <img alt="The Government of Canada Logo." src="$ROOT/img/logo_goc_colour.svg">
                        </a>
                    </div>
                    <div data-c-alignment="tp(right)" data-c-grid-item="tp(1of2)">
                        <a class="" href="https://talent.test/fr/jobs/126/application/step-01" title="Cliquez içi pour le site Français.">
                            Français
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- This is the menu proper. Note the data-c-menu property. -->
        <nav data-c-menu data-c-container="large">
            <ul>
                <li>
                    <!-- The parent menu item. -->
                    <p><img src="$ROOT/img/users-solid.svg" alt=""><span>Applicant Portal</span></p>
                    <!-- The submenu trigger. Note the data-c-add/remove properties. -->
                    <button data-c-menu-submenu-trigger>
                        <i data-c-menu-add><img src="$ROOT/img/plus-solid.svg" alt=""></i>
                        <i data-c-menu-remove><img src="$ROOT/img/minus-solid.svg" alt=""></i>
                    </button>
                    <!-- The submenu. -->
                    <ul>
                        <li><a href="" title=""><img src="$ROOT/img/users-solid.svg" alt="">Applicant Portal</a></li>
                        <li><a href="" title=""><img src="$ROOT/img/address-card-solid.svg" alt="">Hiring Manager Portal</a></li>
                        <li><a href="" title=""><img src="$ROOT/img/tasks-solid.svg" alt="">HR Adviser Portal</a></li>
                    </ul>
                </li>
                <li><a href="" title="">Home</a></li>
                <li><a href="" title="">Browse Jobs</a></li>
                <li><a href="" title="">Indigenous Talent</a></li>
                <li><a href="" title="">FAQ</a></li>
                <li>
                    <!-- The parent menu item. -->
                    <p>Jerbo</p>
                    <!-- The submenu trigger. Note the data-c-add/remove properties. -->
                    <button data-c-menu-submenu-trigger>
                        <i data-c-menu-add><img src="$ROOT/img/plus-solid.svg" alt=""></i>
                        <i data-c-menu-remove><img src="$ROOT/img/minus-solid.svg" alt=""></i>
                    </button>
                    <!-- The submenu. -->
                    <ul>
                        <li><a href="" title="">My Applications</a></li>
                        <li><a href="" title="">My Experience</a></li>
                        <li><a href="" title="">My References</a></li>
                        <li><a href="" title="">Settings</a></li>
                        <li><a href="" title="">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div data-c-overlay="black(80)" data-c-padding="tb(3)" style="background-image: url('https://images.unsplash.com/photo-1579706783492-081a217cd55e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');">
            <div data-c-container="large" data-c-align="base(center)">
                <h1 data-c-heading="h1">Talent Cloud</h1>
            </div>
        </div>
        <div class="pg-hero">
            <div data-c-radius="rounded">
                <div data-c-background="black(100)" data-c-color="white" data-c-padding="all(2)">
                    <h1 data-c-heading="h1" data-c-margin="bottom(1)">Welcome to Clone Playground!</h1>
                    <p data-c-margin="bottom(.5)">Playground gives you access to everything you need to have some fun prototyping things with Clone. You can stick to regular HTML, or you can dive into the deep end and build some fun stuff with JavaScript, Sass, and Twig.</p>
                    <p>Take a peek inside <span data-c-font="mono">app/twig/index.twig</span> to get started!</p>
                </div>
                <div class="pg-alert" data-c-color="white" data-c-padding="tb(1) rl(2)">
                    <p>Need a refresher on how to use Clone? <a href="https://designwithclone.ca/" title="Open the Clone documentation in a new window or tab." target="_blank">Check out the docs</a>.</p>
                </div>
            </div>
        </div>
        {# Clone's JavaScript #}
        <script src="$ROOT/js/clone/clone.min.js"></script>
        {# Your JavaScript #}
        <script src="$ROOT/js/app.js"></script>
    </body>
</html>
